body {
  margin: 0;
  font-family: "Aktiv Grotesk","Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f3f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #237ab3;
  text-decoration: none;
  outline: 0;
}

ol, ul {
  padding: 0;
  margin: 0 0 15px 25px;
}

li {
  line-height: 18px;
  margin: 6px 0;
}

img {
  border: 0;
}

label {
    display: block;
    margin-bottom: 5px;
}
button, input, label, select, textarea {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    font-family: "Aktiv Grotesk","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#login-form input, #login-form select, #signupForm input, #signupForm select, #verifyCodeForm input, #verifyCodeForm select, #verifyForm input, #verifyForm select, #verifyPhoneForm input, #verifyPhoneForm select {
  box-sizing: border-box;
  font-size: 14px;
  height: 40px;
  line-height: 16px;
  margin-bottom: 0;
  padding: 10px;
  width: 100%;
}

.btn, .redactor_modal_btn {
  background-color: #fff;
  border: 1px solid #fff;
  color: #72808e;
  border-color: #b4c0ca;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 0;
  padding: 5px 12px;
  text-align: center;
  vertical-align: middle;
}

.btn-large {
  padding: 11px 19px;
  font-size: 16px;
  border-radius: 4px;
}

.btn-success {
  background-color: #3197d6;
  border: 1px solid #3197d6;
  color: #fff;
}